
@import "../../styles/_variables.scss";

.presentation {
    margin-top: 30px;
    margin-bottom: 50px;
    .info {
        display: flex;
        justify-content: space-between;
        color: $primary-color;
        .text-tags {
            h1 {
                font-size: 36px;
                line-height: 142.6%;
            }
            p {
                font-size: 18px;
            }
            div {
                margin-top: 10px;
                display: flex;
                gap: 10px;
            }
        }
        .who-stars {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 21px;
            .who {
                display: flex;
                align-items: center;
                gap: 10px;
                p {
                    font-size: 18px;
                    line-height: 142.6%;
                    text-align: right;
                    font-weight: 500;
                }
                img {
                    border-radius: 50%;
                }
            }
            .stars {
                display: flex;
                .star-filled {
                    width: 36px;
                    height: 36px;
                    background: url(../../assets/images/star-filled.svg);
                    background-size: contain;
                    background-repeat: no-repeat;
                }
                .star-empty {
                    width: 36px;
                    height: 36px;
                    background: url(../../assets/images/star-empty.svg);
                    background-size: contain;
                    background-repeat: no-repeat;
                }
            }
        }
    }
    .details {
        margin-top: 24px;
        display: flex;
        justify-content: space-between;
        .detail-slot {
            width: 46.5%;
        }
    }
}

.tag {
    min-width: 115px;
    height: 25px;
    border-radius: 10px;
    background: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: white;
}

@media (max-width: $max-width-mobile) {
    .presentation {
        margin-top: 10px;
        margin-bottom: 27px;
        .info {
            flex-direction: column;
            .text-tags {
                h1 {
                    font-size: 18px;
                }
                p {
                    margin-top: 6px;
                    font-size: 14px;
                }
                div {
                    margin-top: 5px;
                    flex-wrap: wrap;
                }
            }
            .who-stars {
                margin-top: 16px;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                .who {
                    order: 2;
                    p {
                        font-size: 12px;
                    }
                    img {
                        width: 32px;
                        height: 32px;
                    }
                }
                .stars {
                    order: 1;
                    .star-filled {
                        width: 18px;
                        height: 18px;
                    }
                    .star-empty {
                        width: 18px;
                        height: 18px;
                    }
                }
            }
        }
        .details {
            margin-top: 13px;
            flex-direction: column;
            gap: 19px;
            .detail-slot {
                width: 100%;
            }
        }
    }

    .tag {
        height: 18px;
        font-size: 10px;
        border-radius: 5px;
    }
}
