
@import "../../styles/_variables.scss";

.not-found {
    margin-bottom: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $primary-color;
    h1 {
        font-size: 288px;
        font-weight: 700;
    }
    h3 {
        margin-top: 100px;
        font-size: 36px;
        .break {
            display: none;
        }
    }
    a {
        margin-top: 139px;
        font-size: 18px;
        text-decoration-line: underline;
        color: $primary-color;
    }
}

@media (max-width: $max-width-mobile) {
    .not-found {
        margin-bottom: 110px;
        h1 {
            margin-top: 80px;
            font-size: 96px;
            font-weight: 700;
        }
        h3 {
            margin-top: 100px;
            font-size: 18px;
            text-align: center;
            .break {
                display: inline;
            }
        }
        a {
            margin-top: 129px;
            font-size: 14px;
            text-decoration-line: underline;
            color: $primary-color;
        }
    }
}
