
@import "../../styles/_variables.scss";

.header {
    display: flex;
    justify-content: space-between;
    margin: 45px 0px 50px 0px;
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 65px;
    }
}

.logo {
    width: 210px;
    height: 68px;
}

.link {
    color: $primary-color;
    font-size: 24px;
}

.active {
    text-decoration-line: underline;
}

@media (max-width: 768.98px) {
    .header {
        display: flex;
        justify-content: space-between;
        margin: 20px 0px 27px 0px;
    }

    .logo {
        width: 145px;
        height: 46px;
    }

    .header nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 26px;
    }

    .link {
        font-size: 12px;
        text-transform: uppercase;
    }
}
