
@import "../../styles/_variables.scss";

.thumb-list {
    margin-top: 43px;
    margin-bottom: 50px;
    border-radius: 25px;
    padding: 56px 50px 0px 50px;
    background-color: $secondary-color;
    div {
        display: flex;
        flex-wrap: wrap;
        gap: 5%;
    }
}

@media (max-width: $max-width-mobile) {
    .thumb-list {
        margin-top: 22px;
        margin-bottom: 27px;
        padding: 0px 0px 0px 0px;
        background-color: none;
        div {
            flex-wrap: nowrap;
            flex-direction: column;
            gap: 20px;
        }
    }
}
